 <h1>Marvel Superheros!</h1>
<!-- 
 <form action="/marvel" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form> -->


 <form action="/marvel" method="get">
  <label><input name="search"></label>
  <button>Submit</button>
 </form>


 <ul>
  <% if @results.present? %>
  	<% @results.each do |result| %>
    	<li><%= link_to result['name'], marvel_path(result['id']) %></li>
    	
  	<% end %>
  <% else %>
  	<p>"There are no superheroes with that name"</p>
  <% end %>



</ul>
<br><br><br>
<a href=\"http://marvel.com\">Data provided by Marvel. © 2015 MARVEL</a><br>
<%= link_to 'Home', marvel_index_path %>